* {
  border: solid firebrick 1px;
}

.container {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 400px 100px;
}

header {
  grid-column: 1 / -1;
  background-image: url("https://placeimg.com/1000/400/nature");
  background-size: cover;
  color: whitesmoke;
  text-shadow: 3px 3px 2px #222;
}

main {
  grid-column: 1 / -1;
  width: 100%;
}

footer {
  grid-column: 1 / -1;
}

.profile-pic {
  float: left;
  height: 100px;
  width: 100px%; 
  border-radius: 50%;
}
nav {
  float: right;
  margin-top: 2em;
  margin-right: 1em;
  list-style: none;
 
}

.menu {
  float: left;
  margin-left: 2.5em;
  list-style: none;
}

a {
    font-size:2em;
    text-decoration: none;
}
a:link {
  color: #222;
}

a:visited {
  color: #222;
}

a:hover {
    border-bottom:2px solid black;
    opacity: 1;
}
.contact-info {
  margin-top: 15px;
  float: right;
  padding: 10px 10px 0px 0px; 
}  