@import url('https://fonts.googleapis.com/css?family=Alegreya');


* {
  box-sizing: content-box;
  
}

.space {
  height: 500px;
  border: solid red 2px;
}

body {
  margin: 0;
}

h3 {
  color: red;
}

.container {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 600px auto;
  margin: 0 auto;
  margin-top: 10px;
  width: 80%;
  height: 100%;
}

header {
  grid-column: 1 / -1;
  background-color: rgb(56, 84, 97);
  background-size: cover;
  color: whitesmoke;
}

header li {
  color: whitesmoke;
  text-shadow: 3px 3px 2px #222;
}

header ul {
  padding: 0;
  margin: 0;
}

h2 {
  margin: 0;
  text-shadow: 3px 3px 2px #222;
}
header p {
  margin: 0;
  display: inline;
  text-shadow: 3px 3px 2px #222;
}

.name-div {
 display: inline-block;
 margin-top: 30px;
 padding-left: 1em;
}
.profile-pic {
  float: left;
  height: 75px;
  width: 75px; 
  border-radius: 50%;
  margin: 10px 0 10px 20px;
  border: solid whitesmoke 2px;
}
nav {
  float: right;
  margin-top: 2em;
  margin-right: 1em;
  list-style: none;
  font-family: 'Alegreya', serif;
}

.menu {
  float: left;
  margin-left: 2.5em;
  list-style: none;
}

a {
    font-size:2em;
    text-decoration: none;
}
a:link {
  color: #222;
}

a:visited {
  color: #222;
}

a:hover {
  border-bottom:2px solid black;
  opacity: 1;
}
main {
  grid-column: 1 / -1;
  background-image: url("https://placeimg.com/1000/800/tech/grayscale");
  background-color: lightblue;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  grid-column: 1 / -1;
  background-color: rgb(56, 84, 97);
  border-bottom: solid whitesmoke 3px;
}



.contact-info {
  margin: 15px 0 15px 0;
  float: right;
  padding: 10px 10px 0px 0px; 
}

.contact-info a {
  display: inline-block;
}

/* =================================
  Blinking
==================================*/


.blinking {
  font-weight: 100;
  font-size: 24px;
  display: inline;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: whitesmoke;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: whitesmoke;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: whitesmoke;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: whitesmoke;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: whitesmoke;
  }
}




/* =================================
  Media Queries
==================================*/

@media (max-width: 900px) {
  .container {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 600px 100px;
    margin: 0 auto;
    width: 90%;
    height: 100%;
  }
  nav {
    float: right;
    height: 100%;
    width: 50px;
    margin-top: 0px;
  }
  .menu {
    float: right;
    font-size: .7em;

  }
}

@media (max-width: 500px) {
  .container {
    width: 100%
  }

}